

{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block pageName %}
About
{% endblock %}


{% block main %}
<div class="container-fluid py-4">
  
 
    <div class="col">
        <div class="card blured-background">
            <h2>Hi</h2>
            <p>
                It's great pleasure for me that you're using this project and I hope you'll find it useful. I've been working on this project for a while now and I'm really excited to share it with you. I hope you'll enjoy using it as much as I enjoyed building it.
            </p>
            <p>
                I started this project because I wanted to create something that would help people manage their finances better. I've always been interested in personal finance and I've been using various tools to track my expenses and income. However, none of them were perfect for me. So, I decided to build my own solution. 
            </p>

            <h2>First Thought</h2>
            <p>
                My initial motivation and thought for this project was to build something that can be easily deployed and help small local bussinesses to manage their finances. I wanted to build something that would be easy to use and would help them to keep track of their expenses and income.
            </p>

            <h2>Future Goals</h2>
            <p>
                I would to see this project grow and become a useful tool for many people. I would like to add more features and make it even better. I would also like to add more languages and make it available in more countries.
            </p>
        </div>
    </div>
 
</div>


{% endblock %}
