

{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block pageName %}
Dashboard
{% endblock %}


{% block main %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card blured-background">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Current Month Expenses</p>
                <h5 class="font-weight-bolder mb-0">
                  
                  {{ monthly_totals[1] | pkr }}
                  
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card blured-background">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Current Month Income</p>
                <h5 class="font-weight-bolder mb-0">
                  {{ monthly_totals[0] | pkr }}
                  
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card blured-background">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Current Month Balance</p>
                <h5 class="font-weight-bolder mb-0">
                  {{ monthly_totals[2] | pkr }}
                  
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row mt-4">
      <div class="col-lg-7">
          <div class="card z-index-2 blured-background">
            <div class="card-header pb-0">
              <h6>Annual overview</h6>
              <p class="text-sm">
                <!-- <i class="fa fa-arrow-up text-success"></i> -->
                <span class="font-weight-bold">4% more</span>
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
    <div class="col-lg-5">
      <div class="card h-100 p-3 blured-background">
        <div class="card-header pb-0">
          <h6>Ledger Control</h6>
          <p class="text-sm">
            <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
            <span class="font-weight-bold"> Be Careful</span> deleting a ledger will permanently delete all transactions associated with it.
          </p>
        </div>
        <div class="card-body p-3">
          <form class="row g-3" action="/addLedger" method="post">
            <div class="col-xl-7">
              <input type="text" class="form-control" id="ledgerAdd" name="ledger_name" placeholder="Add New Ledger">
            </div>
            <div class="col-xl-5">
              <button type="submit" class="btn btn-dark mb-3">Add Ledger</button>
            </div>
          </form>
          <form class="row g-3" action="/viewLedgerTotals" method="post">
            <div class="col-xl-7">
              <select class="form-select form-control" name="ledger_name">
                <option selected disabled>Select to View</option>
                {% for ledger in ledger_list %}
                <option value="{{ ledger[1] }}">{{ ledger[1] }}</option>
                {% endfor %}
              </select>
              
            </div>
            <div class="col-xl-5">
              <button type="submit" class="btn btn-dark mb-3">View Ledger</button>
            </div>
          </form>
          <h5>Summary of {{ ledger_totals[3] }}</h5>
          <table class="table">
            <tr>
              <th>Income</th>
              <th>Expenses</th>
              <th>Balance</th>
            </tr>
            {% if ledger_totals %}
            <tr>
              <td>{{ ledger_totals[0] | pkr }}</td>
              <td>{{ ledger_totals[1] | pkr }}</td>
              <td>{{ ledger_totals[2] | pkr }}</td>
            </tr>
            {% endif %}
          </table>
          <form class="row g-3" action="/deleteLedger" method="post">
            <div class="col-xl-7">
              <select class="form-select form-control" name="lid">
                <option selected disabled>Select to delete</option>
                {% for ledger in ledger_list %}
                <option value="{{ ledger[0] }}">{{ ledger[1] }}</option>
                {% endfor %}
              </select>
              
            </div>
            <div class="col-xl-5">
              <button type="submit" class="btn btn-dark mb-3">Delete Ledger</button>
            </div>
          </form>
          
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}



</html>