{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block front %}
    <div class="center-container">
        <div class="card">
            <h3>Register</h3>
        <p>Login with your username and password</p>
            <form action="/login" method="post" id="login-form">
                <div class="mb-3 input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user"></i></span>
                    <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3 input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-key"></i></span>
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                </div>
                <p>Don't have an account? <a href="/register">Register Here</a></p>
                <button class="btn btn-dark" type="submit">Log In</button>
            </form>
    
        </div>
        
    </div>
  
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    const loginform = document.getElementById("login-form");
    loginform.addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the form from submitting by default

        try {
            // Validate form fields here
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value; 

            // Example validation: Checking if the name field is empty
            if (username.trim() === "") {
                throw new Error("Username cannot be empty");
            }
            else if (password.trim() === "") {
                throw new Error("Password cannot be empty");
            }

            // If all validation passes, you can submit the form
            loginform.submit();
        } catch (error) {
            alert(error.message);
        }
    });
});

    </script>
    
{% endblock %}
