{% extends "layout.html" %}

{% block title %}
    Table
{% endblock %}

{% block pageName %}
Table
{% endblock %}

{% block main %}



<div class="container-fluid py-4">
  <div class="row">
    <div class="mb-xl-0 mb-4">
      <div class="card blured-background">
        <!-- <form action="/addent"> -->
          <form action="/addTransaction" method="post" id="addTransaction"> 
            <div class="row g-3">
              <div class="col">
                <input type="date" class="form-control" id="transactionAdd" name="date">
              </div>
              <div class="col-xl-3">
                <input type="text" class="form-control" id="transactionAdd" placeholder="Description" name="description">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="transactionAdd" placeholder="Received" name="received">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="transactionAdd" placeholder="Paid" name="paid">
              </div>
              <div class="col-xl">
                <select class="form-select form-control" name="category">
                  <option selected disabled>Select Ledger</option>
                  {% for ledger in ledger_list %}
                  <option value="{{ ledger[1] }}">{{ ledger[1] }}</option>
                  {% endfor %}
                </select>
                
              </div>
              <div class="col-xl">
                <button type="submit" class="btn btn-dark mb-3" style="max-width: 0px;">Add</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="mb-xl-0 mb-4">
      <div class="collapse " id="collapseExample">
        <div class="card">
          <form  id="filter-form" method="post">
            <div class="row g-3">
              <div class="col-lg-3">
                <div class="mb-3 row">
                  <label for="startDate" class="col-sm-3 col-form-label">From</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" id="filter" name="startDate">
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3 row">
                  <label for="endDate" class="col-sm-2 col-form-label">To</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" id="filter" name="endDate">
                  </div>
                </div>
              </div>
              <div class="col">
                <select class="form-select form-control">
                  <option selected disabled>Payment</option>
                  <option value="paid">Paid</option>
                  <option value="received">Received</option>
                </select>
                
              </div>
              <div class="col">
                <select class="form-select form-control">
                  <option selected disabled>Select Ledger</option>
                  {% for ledger in ledger_list %}
                  <option value="{{ ledger[1] }}">{{ ledger[1] }}</option>
                  {% endfor %}
                </select>
                
              </div>
              <div class="col">
                <button type="submit" class="btn btn-dark mb-3" style="max-width: 0px;">Filter</button>
              </div>
            </div>
          </form>
          <script>
              // form validation 
              
          </script>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="row mt-4">
      <div class="">
          <div class="card z-index-2 blured-background">
            <div class="card-header ">
              <div class="table-heading">
                <h4>CashBook</h4>
                <div class="col-lg-6">
                  <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Search here...">
                  </div>
                </div>
              <p>
                <a class="filter-button" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa-solid fa-filter"></i>Filter
                </a>
              </p>    
              </div>
          </div>
            <div class="card-body p-3">
              <table class="table table-striped ">
                <thead class="table-dark">
                  <!-- <tr> -->
                    <th>Date</th>
                    <th class="col-lg-4">Description</th>
                    <th class="col">Received</th>
                    <th class="col">Paid</th>
                    <th class="col">Category</th>
                    <th class="col-lg-1">Edit</th>
                    <th class="col-lg-1">Delete</th>
                  <!-- </tr> -->
                </thead>
                {% for transaction in transactions %}
                <tr>
                  <td>{{ transaction[1] }}-{{ transaction[2] }}-{{ transaction[3] }}</th>
                  <td>{{ transaction[4] }}</td>
                  <td>{{ transaction[5] }}</td>
                  <td>{{ transaction[6] }}</td>
                  <td>{{ transaction[7] }}</td>
                  <td>
                      <button type="button" data-bs-toggle="modal" style="border: none;background-color: transparent;" data-bs-target="#edit_entry_Modal"  data-bs-whatever1="{{ transaction[0] }}" data-bs-whatever2="{{ transaction[4] }}" data-bs-whatever3="{{ transaction[5] }}" data-bs-whatever4="{{ transaction[6] }}"><i class="fa-regular fa-pen-to-square"></i></button>
                  </td> 
                  <td>
                    <form action="/deleteTransaction" method="post">
                      <input name="tid" type="hidden" id="tid" value="{{ transaction[0] }}">
                      <button type="submit" style="border: none;background-color: transparent;"><i class="fa-regular fa-trash-can"></i></button>
                    </form>
                    
                  </td>
                </tr>
                {% endfor %}
            </table>
            </div>
          </div>
        </div>
    
  </div>
</div>


<!-- MODAL -->
<div class="modal fade" id="edit_entry_Modal" tabindex="-1" aria-labelledby="edit_entry_ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit_entry_ModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <form action="/editTransaction" method="post">
          <div class="modal-body">
          <div class="row g-3">

            <div class="col-xl-4">
              <label for="transaction_edit_date" class="col-form-label">Date:</label>
              <input type="date" class="form-control" id="transaction_edit_date" name="date">
            </div>
            <div class="col-xl-8">
              <label for="transaction_edit_description" class="col-form-label">Description:</label>
              <input type="text" class="form-control" id="transaction_edit_description" name="description">
            </div>
            <div>
              <!-- <label for="transaction_edit_tid" class="col-form-label">Tid:</label> -->
              <input type="text" class="form-control" id="transaction_edit_tid" name="tid" hidden>
            </div>
          </div>
          <div class="row g-3">
              <div class="col-xl-4">
                <label for="transaction_edit_received" class="col-form-label">Received:</label>
               <input type="text" class="form-control" id="transaction_edit_received" name="received">
              </div>
              <div class="col-xl-4">
                <label for="transaction_edit_paid" class="col-form-label">Paid:</label>
                <input type="text" class="form-control" id="transaction_edit_paid" name="paid">
              </div>
              <div class="col-xl-4">
                <label for="transaction_edit_category" class="col-form-label">Ledger:</label>
                <select class="form-select form-control" id="transaction_edit_category" name="category">
                  <option selected disabled>Payment</option>
                  {% for ledger in ledger_list %}
                  <option value="{{ ledger[1] }}">{{ ledger[1] }}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark">Confirm Edit</button>
          </div>
        </form>
      
      
    </div>
  </div>
</div>

<script>
  const edit_entry_Modal = document.getElementById('edit_entry_Modal');
  if (edit_entry_Modal) {
  edit_entry_Modal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget;
    
    // Extract values from data-bs-* attributes
    const tiD = button.getAttribute('data-bs-whatever1');
    const description_edit = button.getAttribute('data-bs-whatever2');
    const received_edit = button.getAttribute('data-bs-whatever3');
    const paid_edit = button.getAttribute('data-bs-whatever4');
    

    // Update the modal's content.
    const modalTitle = edit_entry_Modal.querySelector('.modal-title');
    const modalBodyInput1 = edit_entry_Modal.querySelector('#transaction_edit_description');
    const modalBodyInput2 = edit_entry_Modal.querySelector('#transaction_edit_received');
    const modalBodyInput3 = edit_entry_Modal.querySelector('#transaction_edit_paid');
    const modalBodyInput4 = edit_entry_Modal.querySelector('#transaction_edit_tid');
    // const modalBodyInput5 = edit_entry_Modal.querySelector('#recipient-name-5');

    modalTitle.textContent = `Edit transction : TID = ${tiD}`;
    modalBodyInput1.value = description_edit;
    modalBodyInput2.value = received_edit;
    modalBodyInput3.value = paid_edit;
    modalBodyInput4.value = tiD;
    
  });
}


</script>

{% endblock %}